$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Source Sans Pro", "Arial", sans-serif;

$black-color: #212327;
$white-color: #ffffff;
$orange-color: #ee3b33;
$light-gray-color: #e5e7ed;
$gray-color: #dadfe6;
$dark-gray-color: #81848a;

$desktop-width: 1492px;
$tablet-width: 768px;
$mobile-width: 320px;
